#root {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.App {
  flex: 1;
  width: 100vw;
}
.banner-rickAndMorty {
  height: 300px;
  width: 300px;
}
.rick-and-morty-general-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dimension-name {
  font-family: "Rajdhani", sans-serif;
  color: rgb(64, 181, 203);
}

.location-container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.line {
  width: 100px;
  height: 2px;
  background-color: rgb(192, 223, 64);
}
.other-info-container {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
}
.residents-title-info {
  color: rgb(64, 181, 203);
}
input {
  height: 22px;
  border-radius: 10px;
  border-style: none;
  padding: 5px;
  background-color: rgba(240, 255, 255, 0.26);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
input:hover {
  border: solid 1px rgb(192, 223, 64);
}
button {
  margin: 8px;
  background-color: rgb(64, 181, 203);
  padding: 5px 10px;
  border-radius: 7px;
  text-align: center;
  color: rgb(229, 255, 0);
  font-weight: bold;
}
button:hover {
  border: solid 2px rgb(192, 223, 64);
  background-color: rgb(64, 181, 203);
}
span {
  color: rgb(229, 255, 0);
}
.container-residents {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.resident-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(183, 187, 167, 0.068);
  box-shadow: 2px 2px 8px rgb(192, 223, 64);
  border-radius: 10px;
}
.resident-name {
  font-size: 25px;
}
.resident-info {
  text-align: left;
  padding-left: 10px;
  background-color: rgba(54, 90, 54, 0.171);
  width: 290px;
  border-radius: 10px;
}
.title-info {
  font-family: "Rajdhani", sans-serif;
  color: rgb(64, 181, 203);
}
/* Mobile */
@media (min-width: 300px) and (max-width: 768px) {
  .banner-rickAndMorty {
    width: 200px;
    height: 200px;
    align-self: center;
  }
  .title-Rick-and-Morty {
    margin-bottom: 20px;
    width: 280px;
  }
  .search-container {
    margin-left: 20px;
  }
  .location-container-info {
    border: 1px solid rgba(255, 255, 255, 0.603);
    width: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .dimension-name {
    font-size: 14px;
  }
  span {
    font-size: 12px;
  }
  .line {
    width: 200px;
  }
  .residents-title-info {
    font-size: 10px;
  }
  .resident-item {
    width: 100%;
  }
  .resident-card {
    width: 300px;
    height: 530px;
    margin-right: 40px;
    margin-bottom: 20px;
  }
  .resident-name {
    text-align: center;
    padding: 10px;
  }
  .img-resident {
    width: 260px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  /* Head */
  .banner-rickAndMorty {
    height: 400px;
    width: 400px;
  }
  /* Title */
  .title-Rick-and-Morty {
    width: 400px;
  }
  /*  Search container */
  .search-container {
    margin-bottom: 30px;
  }
  /*  Location Container */
  .location-container-info {
    width: 700px;
  }
  .dimension-name {
    font-size: 17px;
  }
  .line{
    width: 300px;
  }

  /* Residents container */
  .residents-title-info {
    font-size: 13px;
  }
  .container-residents {
    margin-top: 30px;
    gap: 30px;
  }
  /* Residents card container */
  .resident-card {
    width: 300px;
    height: 530px;
    margin-bottom: 40px;
  }
  .resident-info {
    width: 300px;
  }
  /* Resident Card */
  .img-resident{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
  }
}

/* Laptop */
@media (min-width: 991px) and (max-width: 1200px) {
  .banner-rickAndMorty {
    width: 600px;
    height: 500px;
  }
  .title-Rick-and-Morty {
    width: 550px;
  }
  /* Search container */
  .search-container {
    margin: 20px;
  }
  /* Resident dimension */
  .location-container-info {
    width: 800px;
  }
  .line{
    width: 400px;
  }
  .other-info-container{
    gap: 30px;
  }
  /* Container Residents */
  .container-residents{
    width: 900px;
  }
  /* Residents card */
  .resident-item {
    width: 300px;
    margin: 40px;
  }
  .img-resident{
    width: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  /* Head */
  .banner-rickAndMorty{
    height: 500px;
    width: 600px;
  }
  /* Title */
  .title-Rick-and-Morty{
    width: 650px;
    margin-bottom: 10px;
  }
  /* Search container*/
  .search-container{
    margin-bottom: 30px;
  }
  /* Resident Dimension */
  .location-container-info{
    width: 950px;
    margin-bottom: 40px;
  }
  .line{
    width: 500px;
  }
  .other-info-container{
    gap:90px
  }
/* Resident container */
.container-residents{
  gap: 40px;
}
   /*  Resident Card */
  .resident-card{
    width: 300px;
    margin-bottom: 30px;
   }
  .img-resident {
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
  }
}

/* Loader */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
