#root {
  margin: 0 ;
  padding: 0 ;
  text-align: center;
  background-color: #202020b0;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.dimension-name{
  font-family: 'Rajdhani', sans-serif;
  color:rgb(64,181,203);
}

.location-container-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.line{
  width: 100px;
  height: 2px;
  background-color: rgb(192,223,64)
}
.other-info-container{
  display: flex;
  align-self: center;
  gap: 10px;
}
.residents-title-info{
  color:rgb(64,181,203);
 
}
input {
  height: 22px;
  border-radius: 10px;
  border-style: none;
  padding: 5px;
  background-color: rgba(240, 255, 255, 0.26);
  color:rgb(255, 255, 255);
  font-weight: bolder;
}
input:hover{
  border: solid 1px rgb(192,223,64);;
}
button{
  margin: 8px;
  
  background-color:rgb(64,181,203);
  padding: 5px 10px;
  border-radius: 7px;
  text-align: center;
  color:rgb(229, 255, 0);
  font-weight: bold;
}
button:hover{
  border: solid 2px rgb(192,223,64);
  background-color:rgb(64,181,203);
}
span{
  color:rgb(229, 255, 0);
}
.container-residents{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center; 
}

.resident-item{
  width: 50%;
}

.resident-card{
  background-color: rgba(183, 187, 167, 0.068);
  box-shadow:  2px 2px 8px rgb(192,223,64);
  border-radius: 10px;
}
.resident-name{
  font-size: 25px;
  
}
.resident-info{
  text-align: left;
  padding: 10px;
  background-color:rgba(54, 90, 54, 0.171);
  box-shadow:  2px 2px 8px rgb(192,223,64);
  border-radius: 10px;
}
.title-info{
  font-family: 'Rajdhani', sans-serif;
  color:rgb(64,181,203);;
 
}
/* Mobile */
@media (min-width:300px)     {
  .banner-rickAndMorty{
    width: 100vw;
  }
  .location-container-info{
    width: 280px;
    margin-right: 15px;
    background-color: #00ff15;
   
  }
  .title-Rick-and-Morty{
    width: 100vw;
  }
  .resident-item{
    width: 100%;
  }
  .resident-card{
    width: 330px;
    height: 530px;
    margin-right: 40px;
    margin-bottom: 5px;
  }
  .line{
    width: 200px;
  }
  .location-container-info{
    margin-top: 20px;
    padding: 8px;
    width: 90vw;
    margin-left: 20px;
  }
}

/* Tablet */
@media (min-width:768px) {
  .banner-rickAndMorty{
    width: 100%; 
  }
  .title-Rick-and-Morty{
    width: 400px;
  }
  .resident-item{
    width: 50%;
    
  }
  .resident-card{
    padding: 5px 18px;
    height: 580px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
  }
  .line{
    width: 350px;
  }
  .location-container-info{
    width: 90vw;
  }
}

/* Laptop */
@media (min-width:992px) {
  .banner-rickAndMorty{
    width: 600px;
    height: 500px;
  }
  .title-Rick-and-Morty{
    width: 450px;
  }
  .resident-item{
    width: 33.333vw;
    margin:40px
  }
  .location-container-info{
    width: 95vw;
  }
  .resident-card{
    margin: 30px  4px;
    height: 550px;  
  }
}
/* Desktop */
@media (min-width: 1200px) {
  .resident-item{
    width: 25vw;
    margin-left: 25px
  }
}

.img-resident{
  width: 250px;
  border-radius: 10px;
}

/* Loader */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
